.menu{
    background-color: var(--color-num);
    border-right: solid 1px var(--color-dark);
}
.menu-img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    #div-menu{
        height: auto !important;
    }
}