:root{
    --color: #ffffff;
    --color-num: #d6d6d6d8;
    --color-type: #7070704f;
    --color-orange: #ff5733;
    --color-grass: #7bc693 ;
    --color-poison: #9373a1;
    --color-fire: #c25741;
    --color-flying: #81b9ef;
    --color-water: #80bfdb;
    --color-bug: #899e50;
    --color-normal: #9c9c9c;
    --color-electric: #c6bc57;
    --color-ground: #8e654a;
    --color-fairy: #bd91b9;
    --color-fighting: #ce8c45;
    --color-psychic: #ac4866;
    --color-rock: #a09a79;
    --color-steel: #7d96a0;
    --color-ice: #5ddfff;
    --color-ghost: #6a336a;
    --color-dragon: #5061e1;
    --color-dark: #50413f;
    --color-light: #f0eeee;
    --color-stats: #e6b6afb6;
    // --color-very-dark: #1d1d1d;
    // --color-ultra-dark: #101010;
    // --color-blue: #57ace6;
    // --color-blue-dark: #2e76a7;
    // --color-orange: rgb(255, 105, 36);
}